*~
*.swo
*.swp
cscope.*
tags

microej/vee-port-configuration/NXP.platform
microej/CM4hardfp_GCC48/source/
microej/MCXN947-*-CM4hardfp_GCC48-*/build/
microej/MCXN947-*-CM4hardfp_GCC48-*/source/
microej/vee-port-configuration/dropins/scripts/init-partial-buffer/partial-buffer-init.xml
microej/plat
microej/vee-port-configuration/module.properties
microej/front-panel/src/main/resources/platform.fp
microej/front-panel/src/main/resources/skin.jpeg

.java.app
.java.configuration
.java.fp
.java.mock
.*.java.app
.*.java.configuration
.*.java.fp
.*.java.mock
javasec.prop

**/redlink.err
**/redlink.log
**/.gdb_history
gdb.cmd
**/application.out
**/bin
test_results/*
bsp/projects/nxpvee-ui/armgcc/debug/
microej/vee-port-configuration/dropins/*.jar
microej/vee-port-configuration/dropins/include
microej/vee-port-configuration/dropins/javaAPIs
microej/vee-port-configuration/dropins/javaLibs
microej/vee-port-configuration/dropins/mocks
microej/vee-port-configuration/dropins/resources/
microej/vee-port-configuration/dropins/scripts/init-device
microej/vee-port-configuration/dropins/scripts/init-device-s3
microej/vee-port-configuration/dropins/scripts/init-evk-platform-mock-s3
microej/vee-port-configuration/dropins/tools/*
microej/vee-port-configuration/dropins/workbenchExtension_launchScriptFramework.jar
bsp/projects/nxpvee-ui/armgcc/build_log.txt
bsp/projects/nxpvee-ui/armgcc/release/
bsp/projects/microej/platform/

bsp/platform/
microej/validation/build

bsp/modules/
bsp/optional/
bsp/zephyr/

microej/apps/AiSample/com.nxp.aiSample.AiMain/
microej/apps/SimpleGFX/com.nxp.simpleGFX.SimpleGFX/
microej/apps/HelloWorld/com.nxp.HelloWorld.HelloWorld/

microej/apps/AiSample/src-adpgenerated/
microej/apps/HelloWorld/src-adpgenerated/
microej/apps/SimpleGFX/src-adpgenerated/
